WifiStatues/nodeRedFlow.json
[{"id":"d0b8db7e.01ec18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cbd3eceb.a2083","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9bb14728.5f1fa8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ccba5309.d8fb1","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.120","key":"QlfvxhlAW89wfTDndatOxfhY3ODeqeOetopxPEKX","interval":"3000","disableupdates":false},{"id":"ea566276.40954","type":"alexa-home-conf","z":"","username":"crydrk"},{"id":"c51a127e.abb08","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.160","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9141a5ec.5df588","type":"hue-bridge-node","z":"d0b8db7e.01ec18","name":"Home","bridge":"ccba5309.d8fb1","autoupdates":true,"skipglobalevents":false,"x":610,"y":160,"wires":[[]]},{"id":"cea4f4d9.50e308","type":"inject","z":"d0b8db7e.01ec18","name":"Toggle Default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"toggle\":true}","payloadType":"str","x":1750,"y":160,"wires":[[]]},{"id":"b284fa56.2aa278","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Slytherin","bridge":"ccba5309.d8fb1","sceneid":"t06X7Unckw4eN2j","groupid":"2","skipevents":false,"x":480,"y":780,"wires":[[]]},{"id":"2683b78.315a848","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Intro","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1740,"y":200,"wires":[[]]},{"id":"a2f8dcd9.320b2","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Ravenclaw","bridge":"ccba5309.d8fb1","sceneid":"Hv3zHIVeEseQILw","groupid":"2","skipevents":false,"x":490,"y":820,"wires":[[]]},{"id":"566dc63f.373848","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Red-Orange-Purple","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1790,"y":240,"wires":[[]]},{"id":"8150b9ce.a09c68","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Hufflepuff","bridge":"ccba5309.d8fb1","sceneid":"NeQlqYZ7FiqglaV","groupid":"2","skipevents":false,"x":480,"y":860,"wires":[[]]},{"id":"17f1a946.242e67","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Green-Yellow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1770,"y":280,"wires":[[]]},{"id":"5f1d01ed.10103","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Gryffindor","bridge":"ccba5309.d8fb1","sceneid":"nBiyx1rZRahSjnb","groupid":"2","skipevents":false,"x":480,"y":900,"wires":[[]]},{"id":"2f855cf9.b521e4","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Red-Teal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":320,"wires":[[]]},{"id":"4d6b9ce0.d05e74","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Cat","bridge":"ccba5309.d8fb1","sceneid":"Vp-3sFXqzl9krDW","groupid":"2","skipevents":false,"x":470,"y":940,"wires":[[]]},{"id":"de6cd1ca.d65b6","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Relax","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1740,"y":360,"wires":[[]]},{"id":"a005506d.62f06","type":"hue-scene","z":"d0b8db7e.01ec18","name":"Scarab","bridge":"ccba5309.d8fb1","sceneid":"Dr5UoHifHKYWVFn","groupid":"2","skipevents":false,"x":480,"y":980,"wires":[[]]},{"id":"2491cc9f.c7c734","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Energize","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":400,"wires":[[]]},{"id":"226bcc73.2cf884","type":"inject","z":"d0b8db7e.01ec18","name":"Hue Dimmed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"msg","x":1750,"y":440,"wires":[[]]},{"id":"397c8a70.ca6246","type":"inject","z":"d0b8db7e.01ec18","name":"Toggle Color Loop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"colorloop\":true}","payloadType":"str","x":1770,"y":480,"wires":[[]]},{"id":"393450e8.e004c","type":"udmx","z":"d0b8db7e.01ec18","name":"DMX Lights","x":310,"y":480,"wires":[]},{"id":"c5882982.be3488","type":"udp in","z":"d0b8db7e.01ec18","name":"From Unity","iface":"","port":"8051","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":480,"wires":[["6cf6181a.8aacf8"]]},{"id":"6cf6181a.8aacf8","type":"function","z":"d0b8db7e.01ec18","name":"DMX Data Parser","func":"var output = msg.payload.split(\",\");\nvar address = parseInt(output[0]);\nvar channel = parseInt(output[1]);\nvar featureType = output[2];\n\nif (featureType == 'motor')\n{\n    var motorVal = output[3];\n    var message1 = {topic:channel,payload:motorVal};\n    return [message1, null];\n}\nif (featureType == 'color')\n{\n    var R = parseInt(output[3]);\n    var G = parseInt(output[4]);\n    var B = parseInt(output[5]);\n    var messageR = {topic:channel,payload:R};\n    var messageG = {topic:channel + 1,payload:G};\n    var messageB = {topic:channel + 2,payload:B};\n    return [null, messageR, messageG, messageB];\n}\nif (featureType == 'float')\n{\n    var floatVal = output[3];\n    var messageFloat = {topic:channel,payload:floatVal};\n    return [null, null, null, null, messageFloat];\n}\nif (featureType == 'hueBulb')\n{\n    var hueR = parseInt(output[3]);\n    var hueG = parseInt(output[4]);\n    var hueB = parseInt(output[5]);\n    var hueA = parseInt(output[6]);\n    var outJson = { payload : {\"on\":true, \"rgb\":[hueR,hueG,hueB], \"brightnessLevel\":hueA}, topic : output[7] };\n    return [null, null, null, null, null, outJson];\n    //return [null, null, null, null, null, '{\"on\":true, \"rgb\":[' + hueR + ',' + hueG + ',' + hueB +']}'];\n}\nelse\n{\n    return [null, null, null, null, null];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":130,"y":560,"wires":[["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["393450e8.e004c"],["f124ed26.560b5"]]},{"id":"781521b4.4ebff","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table3","bridge":"ccba5309.d8fb1","lightid":"3","colornamer":true,"skipevents":false,"x":470,"y":540,"wires":[[]]},{"id":"f124ed26.560b5","type":"switch","z":"d0b8db7e.01ec18","name":"Light Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Table1","vt":"str"},{"t":"eq","v":"Table2","vt":"str"},{"t":"eq","v":"Table3","vt":"str"},{"t":"eq","v":"Kitchen1","vt":"str"},{"t":"eq","v":"Kitchen2","vt":"str"},{"t":"eq","v":"Entry","vt":"str"},{"t":"eq","v":"Hallway","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":310,"y":560,"wires":[["424d3bed.b6a874"],["f6d2a1f6.f92c1"],["781521b4.4ebff"],["7ea159bf.3ea568"],["8d272d49.c9b0a"],["aec6d584.1eff58"],["572d0bc8.0e6a44"]]},{"id":"424d3bed.b6a874","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table1","bridge":"ccba5309.d8fb1","lightid":"1","colornamer":true,"skipevents":false,"x":470,"y":500,"wires":[[]]},{"id":"f6d2a1f6.f92c1","type":"hue-light","z":"d0b8db7e.01ec18","name":"Table2","bridge":"ccba5309.d8fb1","lightid":"2","colornamer":true,"skipevents":false,"x":610,"y":500,"wires":[[]]},{"id":"572d0bc8.0e6a44","type":"hue-light","z":"d0b8db7e.01ec18","name":"Hallway","bridge":"ccba5309.d8fb1","lightid":"4","colornamer":true,"skipevents":false,"x":480,"y":620,"wires":[[]]},{"id":"7ea159bf.3ea568","type":"hue-light","z":"d0b8db7e.01ec18","name":"Kitchen1","bridge":"ccba5309.d8fb1","lightid":"7","colornamer":true,"skipevents":false,"x":620,"y":540,"wires":[[]]},{"id":"8d272d49.c9b0a","type":"hue-light","z":"d0b8db7e.01ec18","name":"Kitchen2","bridge":"ccba5309.d8fb1","lightid":"5","colornamer":true,"skipevents":false,"x":480,"y":580,"wires":[[]]},{"id":"aec6d584.1eff58","type":"hue-light","z":"d0b8db7e.01ec18","name":"Entry","bridge":"ccba5309.d8fb1","lightid":"6","colornamer":true,"skipevents":false,"x":610,"y":580,"wires":[[]]},{"id":"59c1691f.28cac8","type":"udp out","z":"d0b8db7e.01ec18","name":"Unity Magic Show","addr":"192.168.0.207","iface":"","port":"8052","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":350,"y":220,"wires":[]},{"id":"ab0bb28e.1220e","type":"inject","z":"d0b8db7e.01ec18","name":"Start Magic Show","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"finalCountdownFull","payloadType":"str","x":120,"y":260,"wires":[["59c1691f.28cac8"]]},{"id":"7419156b.0c2a3c","type":"alexa-home","z":"d0b8db7e.01ec18","conf":"ea566276.40954","device":"112643","acknoledge":true,"name":"The Magic","topic":"","x":100,"y":160,"wires":[["acd54e11.fa53c"]]},{"id":"acd54e11.fa53c","type":"function","z":"d0b8db7e.01ec18","name":"","func":"var payload = msg.payload;\n\nif (payload === true)\n{\n    var animName = {payload:\"finalCountdownFull\"};\n    return [animName, null];\n}\nelse if (payload === false)\n{\n    var stopSignal = {payload:\"stop\"};\n    return [null, stopSignal];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["59c1691f.28cac8"],["59c1691f.28cac8"]]},{"id":"174f574f.ddbf29","type":"cast-to-client","z":"cbd3eceb.a2083","name":"","url":"","contentType":"","message":"","language":"de","ip":"192.168.0.239","port":"","volume":"","x":570,"y":300,"wires":[["c90e34d.2f8a4c8"]]},{"id":"bdc1ecf5.0c45a","type":"inject","z":"cbd3eceb.a2083","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"youtube","payloadType":"str","x":170,"y":300,"wires":[["49f181f1.f7bc4"]]},{"id":"c90e34d.2f8a4c8","type":"debug","z":"cbd3eceb.a2083","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":300,"wires":[]},{"id":"49f181f1.f7bc4","type":"change","z":"cbd3eceb.a2083","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://www.dropbox.com/s/nihw5id5jqarcil/VID_20200818_194855.mp4","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"video/mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["174f574f.ddbf29"]]},{"id":"309f9466.deab1c","type":"comment","z":"cbd3eceb.a2083","name":"Doorbell routine","info":"","x":300,"y":480,"wires":[]},{"id":"f8324c3b.bf344","type":"http in","z":"cbd3eceb.a2083","name":"","url":"/videoTest","method":"get","upload":false,"swaggerDoc":"","x":260,"y":540,"wires":[["7ee4dd5e.8cd754"]]},{"id":"29d32785.a55e58","type":"http response","z":"cbd3eceb.a2083","name":"","statusCode":"","headers":{"content-type":"video/mp4"},"x":590,"y":540,"wires":[]},{"id":"7ee4dd5e.8cd754","type":"file in","z":"cbd3eceb.a2083","name":"videoTest","filename":"C:\\Users\\Corey\\Desktop\\big_buck_bunny_1080p.mp4","format":"","chunk":false,"sendError":false,"x":440,"y":540,"wires":[["29d32785.a55e58"]]},{"id":"ddb10d1d.0af52","type":"trigger","z":"cbd3eceb.a2083","name":"TTS + reset volume","op1":"{\"ip\":\"192.168.0.239\",\"url\":\"http://127.0.0.1:1880/doorbell\",\"contentType\":\"video/mp4\",\"volume\":10}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":50}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":800,"wires":[[]]},{"id":"320d03b.94dc1fc","type":"trigger","z":"cbd3eceb.a2083","name":"TTS + reset volume","op1":"{\"ip\":\"${CASTIP}\",\"url\":\"http://${NODEREDIP}:1880/doorbell\",\"contentType\":\"audio/mp3\",\"volume\":50}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":30}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":430,"y":620,"wires":[[]]},{"id":"fdfe83ca.9e4ba","type":"cast-to-client","z":"cbd3eceb.a2083","name":"","url":"","contentType":"","message":"","language":"fr","ip":"","port":"","volume":"","x":670,"y":600,"wires":[[]]},{"id":"77ee7b5f.b7e8b4","type":"inject","z":"cbd3eceb.a2083","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":680,"wires":[["3b45c4ee.f3a4fc"]]},{"id":"e37a175b.46d148","type":"debug","z":"cbd3eceb.a2083","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":580,"wires":[]},{"id":"3b45c4ee.f3a4fc","type":"function","z":"cbd3eceb.a2083","name":"","func":"msg = {payload: {\"ip\":\"192.168.0.239\",\"url\":\"http://127.0.0.1:1880/videoTest\",\"contentType\":\"video/mp4\",\"volume\":10} };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":720,"wires":[["e37a175b.46d148","fdfe83ca.9e4ba"]]},{"id":"9df7f595.124108","type":"cast-to-client","z":"cbd3eceb.a2083","name":"","url":"","contentType":"","message":"","language":"de","ip":"192.168.0.239","port":"","volume":"","x":530,"y":140,"wires":[["6af0bdfb.882f84"]]},{"id":"a7e9389.e151ec8","type":"inject","z":"cbd3eceb.a2083","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"youtube","payloadType":"str","x":150,"y":140,"wires":[["6ddd7a1b.38eae4"]]},{"id":"6af0bdfb.882f84","type":"debug","z":"cbd3eceb.a2083","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":140,"wires":[]},{"id":"6ddd7a1b.38eae4","type":"change","z":"cbd3eceb.a2083","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://commondatastorage.googleapis.com/gtv-videos-bucket/big_buck_bunny_1080p.mp4","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"video/mp4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["9df7f595.124108"]]},{"id":"5d17438f.3a25bc","type":"cast-to-client","z":"cbd3eceb.a2083","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.0.239","port":"","volume":"","x":570,"y":380,"wires":[["59229f3d.dd9d"]]},{"id":"60137829.fa6e78","type":"inject","z":"cbd3eceb.a2083","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":380,"wires":[["a7aadb35.b65138"]]},{"id":"a7aadb35.b65138","type":"change","z":"cbd3eceb.a2083","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.0.239","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://www.dropbox.com/s/yxepxw6dpbw84wt/big_buck_bunny_1080p.mp4","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"video/mp4","tot":"str"},{"t":"set","p":"streamType","pt":"msg","to":"NONE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["5d17438f.3a25bc"]]},{"id":"59229f3d.dd9d","type":"debug","z":"cbd3eceb.a2083","name":"test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":380,"wires":[]},{"id":"d5e031d6.671e9","type":"inject","z":"d0b8db7e.01ec18","name":"Stop All","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Stop","payloadType":"str","x":90,"y":300,"wires":[["59c1691f.28cac8"]]},{"id":"6a700b16.9b37e4","type":"inject","z":"d0b8db7e.01ec18","name":"Line Up Magic Show","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"finalCountdownStart","payloadType":"str","x":130,"y":220,"wires":[["59c1691f.28cac8"]]},{"id":"a2961b97.139338","type":"debug","z":"d0b8db7e.01ec18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":240,"wires":[]},{"id":"984b591e.f22278","type":"mosca in","z":"d0b8db7e.01ec18","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":1800,"y":160,"wires":[[]]},{"id":"bd3ead92.6be04","type":"mqtt in","z":"d0b8db7e.01ec18","d":true,"name":"","topic":"receiveRFID","qos":"0","datatype":"auto","broker":"c51a127e.abb08","x":1330,"y":180,"wires":[["a2961b97.139338"]]},{"id":"8028eadb.c9ba68","type":"function","z":"d0b8db7e.01ec18","name":"RFID Parser","func":"var input = msg.payload\n\nvar snake = '1746614566';\nvar eagle = '624010966';\nvar badger = '622289566';\nvar lion = '3057118250';\nvar scarab = '15821010125';\nvar cat = '11025513025';\n\n\n\nvar message = {payload:true};\n\nvar lastID = flow.get(\"lastID\");\n\nif (input[0] == lastID[0] && input[2] == lastID[2] && input[4] == lastID[4]  && input[6] == lastID[6])\n{\n    return[null];\n}\nelse\n{\n    flow.set(\"lastID\", input);\n}\n\nif (input == snake)\n{\n    return [message];\n}\nif (input == eagle)\n{\n    return [null, message];\n}\nif (input == badger)\n{\n    return [null, null, message];\n}\nif (input == lion)\n{\n    return [null, null, null, message];\n}\nif (input == scarab)\n{\n    return [null, null, null, null, message];\n}\nif (input == cat)\n{\n    return [null, null, null, null, null, message];\n}\n\n\n\n\n","outputs":6,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"lastID\", \"\");","finalize":"","x":270,"y":820,"wires":[["b284fa56.2aa278"],["a2f8dcd9.320b2"],["8150b9ce.a09c68"],["5f1d01ed.10103"],["4d6b9ce0.d05e74"],["a005506d.62f06"]]},{"id":"22fd655b.29efaa","type":"inject","z":"d0b8db7e.01ec18","name":"Verify Devices","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"verify","payloadType":"str","x":110,"y":1080,"wires":[["dfe38f98.ad858","23c0f11.8edee0e"]]},{"id":"3bf23c2e.1a1974","type":"udp out","z":"d0b8db7e.01ec18","name":"","addr":"192.168.0.194","iface":"","port":"1883","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":450,"y":1120,"wires":[]},{"id":"305577d3.629378","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"1883","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":100,"y":820,"wires":[["8028eadb.c9ba68"]]},{"id":"bfcb5b28.455508","type":"comment","z":"d0b8db7e.01ec18","name":"Magic Show Controls","info":"","x":140,"y":100,"wires":[]},{"id":"1dce98b4.9fdc07","type":"comment","z":"d0b8db7e.01ec18","name":"Unity to DMX and Hue","info":"","x":140,"y":420,"wires":[]},{"id":"84af9319.db0e1","type":"comment","z":"d0b8db7e.01ec18","name":"RFID In","info":"","x":90,"y":720,"wires":[]},{"id":"8d5071ec.195be","type":"udp in","z":"d0b8db7e.01ec18","name":"","iface":"","port":"1883","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":80,"y":1180,"wires":[["b1b68da4.4532f"]]},{"id":"b1b68da4.4532f","type":"function","z":"d0b8db7e.01ec18","name":"RFID Statues","func":"var p = msg.payload;\nvar s = String.fromCharCode(p[0], p[1], p[2], p[3]);\nvar message = {payload:s};\n\nif (s == \"good\" || p == \"good\")\n{\n    node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n}\nelse if (s == \"fail\" || p == \"fail\")\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n}\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1180,"wires":[[]]},{"id":"5059c974.bfe778","type":"comment","z":"d0b8db7e.01ec18","name":"Verification","info":"","x":80,"y":1040,"wires":[]},{"id":"dfe38f98.ad858","type":"function","z":"d0b8db7e.01ec18","name":"Reset Verification","func":"var message = {\"payload\":\"fail\"};\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1080,"wires":[["b1b68da4.4532f"]]},{"id":"23c0f11.8edee0e","type":"delay","z":"d0b8db7e.01ec18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1120,"wires":[["3bf23c2e.1a1974"]]}]